.destination_container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #093d46;
    width: 100%;
    height:auto;
    
}

/* @media screen and (max-width:768px){
    .destination_container{
        display: none;
    }
} */