.bottom{
    font-family: fantasy;
    display:flex;
    flex-direction: column;
    background-color:#05386b;
  
  
    height:300px;
    color:#edf5e1;
}
.contact{

    padding:10px;
}

#follow{
    display:flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
}
#follow a{
    color: #8ee4af;
}
#follow a:hover{
    color: #379683;
}

@media screen and (max-width: 768px){
    .bottom{
         /* margin-left:32px; */
    }
}