.home_container{
    overflow-y: scroll;
    padding: 10px;
    display:grid;
    justify-items: center;
    column-gap: 0px;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: #093d46;
    height: 700px;
    width:100%;
    
}

@media screen and (max-width:768px){
    .home_container{
        justify-items:center ;
        padding:0px;
width:100%;
 grid-template-columns: auto;
    }
    
}