@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.login_container{
    display:flex;
    flex-direction:row;
    background-color: #093d46;
    height: auto;
    width: 100%;
    justify-content: center;
    
    .login_box{
        border-radius:20px;
        margin:100px;
        display:flex;
        flex-direction:column;
        background-color:#011f24;
        color: #edf5e1;
         border-style:groove;
        border-color: black;
        border-width: 5px;
        width:450px;
        height:fit-content;
        .heading{
            text-align: center;
            font-family: "Times New Roman";
            font-weight: bolder;
            padding-top:10px;
            margin: auto; 
            border: black 1px solid;
        }
        .content{
            font-family:"Courgette";
           padding-top:30px;
           display:flex;
           flex-direction: column;
          .content_box{
           
           ul{
               padding:10px;
               list-style: none;
           }
           li{ 
               text-align:left;
              white-space:nowrap;
               input{
                   
                   float:right;
                   background-color: #19535e;
            width:50%;
        }
        span{
            float:right;
        }

               
               padding-bottom:10px;
               #img{
                   margin-left: 10px;
                   height:20px;
                   width:20px;
               }
               #eyeopen{
                   display:none;
               }
               #eyeclose{
                   display:inline-block;
               }

           }
        }
           .btn_box{
               display: block;
               text-align: center;
           
           }
           .newacc{
               padding-top:20px;
               text-align: center;
               a{
                   text-decoration: none;
               }
           }

        }
    }

}

@media screen and (max-width: 768px) {
    .login_container{
        // margin-left:32px;
        height:auto;
    .login_box{
        width:90%;
        margin:0px;
        margin-top:100px;
        margin-bottom:100px;
        font-size:10px;
    }
}
    }
